// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato");

// Bootstrap
@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap-vue/dist/bootstrap-vue';
@import 'node_modules/firebaseui/dist/firebaseui';

body, #app {
  background-color: $primary;
}

.sidebar {
  flex-direction: column;
  width: 100%;
  margin-bottom: 18px;
}

.logo {
  padding: 10px 0px;
  width: 100%;
  min-width: 250px;
}

.avatar {
  width: 30px;
  border-radius: 2px;
  float: right;
}

.user-dropdown {
  float: right;
}

.dropdown-toggle {
  padding: 0px 0px;
  margin: 8px;
  background-color: white;
  border-radius: 4px;
  color: $warning;
}

.saved {
  color: $primary;
  font-weight: bold;
}

.dropdown-toggle::after {
  display:none;
}

.listlist {
  width: 100%;
}

.list-dropdown {
  float: right;
}

.list-toggle {
  font-family: $font-family-sans-serif;
  font-size: 16pt;
  padding: 0px 7px 3px;
  margin-top: 3px;
  border-color: transparent;
  background-color: transparent;
}

.list-toggle::after {
  display:none;
}

.dropdown-item {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
  white-space: nowrap;
}

@media (min-width: 576px) {
  .page-header {
    margin-top: 18px;
  }
}

.page-header {
  margin-bottom: 18px;
}

.saving-status {
  padding-top:12px;
  padding-right:10px;
  font-size: 12px;
  float: right;
}

.done-planning {
  float: right;
  margin-top: 3px;
  margin-right: 5px;
}

.title-input {
  overflow: hidden;
  word-wrap: break-word;
  height: 42px;
  -webkit-appearance: none;
  padding: 3px 12px 3px 3px;
  width: 70%;
  box-sizing: border-box;
  border-color: transparent;
  outline-color: $primary;
  background-color: transparent;
  font-size: $h3-font-size;
}

.title-input:focus {
  border-radius: 3px;
  background-color: white;
}

.title-input[readonly] {
  background-color: transparent;
}

.title-label {
  margin: 5px 3px 9px;
  padding-top: 5px;
  line-height: 1.2em;
}

.dropdown-item {
  outline-color: $primary;
}

.todo-input {
  overflow: hidden;
  word-wrap: break-word;
  height: 24px;
  -webkit-appearance: none;
  padding: 0px;
  box-sizing: border-box;
  border-color: transparent;
  flex-grow: 1;
  resize: none;
  outline-color: $primary;
  font-weight: 400;
}

.todo-input:focus {
  border-radius: 3px;
}

a {
  color: $primary
}

.sidebar .list-group-item {
  padding: 6px 12px;
}

#restoreinput {
  display: none;
}

.tab-content .card-body {
  padding: 0px;
}

.handle {
  font-size: 10pt;
  padding: 0px 5px;
  color: gray;
  border-width: 0px;
  border-radius: 0px;
  margin: 0px;
  background-color: transparent;
}

.handle:hover {
  background-color: transparent;
}

.todo-row .handle {
  color: rgba($primary, .375);
  cursor: default;
}

.todo-row:hover .handle {
  color: initial;
  text-decoration: none;
}

.todo-row .handle:focus {
  color: initial;
  background-color: transparent;
}

.todo-row .handle:active {
  color: initial;
  background-color: transparent;
}

.todo-row .handle:not(:disabled):active {
  color: initial;
  background-color: transparent;
}

.todo-row .show .handle {
  color: initial;
}

.list-group-item .handle {
  color: rgba($primary, .375);
  cursor: default;
}

.list-group-item:hover .handle {
  color: initial;
  text-decoration: none;
}

.list-group-item .handle:focus {
  color: initial;
  background-color: transparent;
}

.list-group-item .handle:active {
  color: initial;
  background-color: transparent;
}

.list-group-item .handle:not(:disabled):active {
  color: initial;
  background-color: transparent;
}

.list-group-item .show .handle {
  color: initial;
}

#okta-sign-in {
  margin-top: 0px;
}

#okta-sign-in.auth-container.main-container {
  font-family: $font-family-sans-serif;
}

.okta-sign-in-header {
  display:none;
}

#okta-sign-in .button {
  background-color: $primary;
  color: white;
}

#okta-sign-in .button:hover {
  background-color: $primary;
  color: white;
}

#okta-sign-in .o-form-head {
  color: black;
}

#okta-sign-in .registration-container .registration-link {
  color: $primary;
}

#okta-sign-in .default-custom-button,
#okta-sign-in .button {
  background-color: $primary;
  color: white;
  border-color: #236725;
}

#okta-sign-in .default-custom-button:hover,
#okta-sign-in .button:hover {
  background-color: #236725;
  color: white;
  border-color: $primary;
}

.firebaseui-container,
.firebaseui-input,
.firebaseui-input-invalid,
.firebaseui-button {
  font-family: $font-family-sans-serif;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: $primary;
}

.firebaseui-button {
  text-transform: initial;
}

.firebaseui-button.mdl-button--colored,
.firebaseui-button.mdl-button--colored:active,
.firebaseui-button.mdl-button--colored:focus,
.firebaseui-button.mdl-button--colored:hover,
.firebaseui-button.mdl-button--colored:focus:not(:active) {
  background-color: $primary;
  outline-color: $primary;
}

.firebaseui-button.mdl-button--primary,
.firebaseui-button.mdl-button--primary:active,
.firebaseui-button.mdl-button--primary:focus,
.firebaseui-button.mdl-button--primary:hover,
.firebaseui-button.mdl-button--primary:focus:not(:active) {
  color: $primary;
  outline-color: $primary;
}

.firebaseui-link {
  color: $primary;
  text-decoration: underline;
  outline-color: $primary;
}

.listlist .handle {
  float: right;
}

.navbar {
  padding: 0px;
  flex-flow: column;
}

button:focus {
  outline-color: white;
}

.navbar-collapse {
  width: 100%;
}

.navbar-toggler {
  float: right;
  margin-top: 4px;
}

.todo-row {
  display: inline-flex;
}

.todo-row .popover-fun {
  color: initial;
}

.sink {
  min-height: 25px;
  display: none;
}

.dragging-todo .sink {
  display: flex;
  position: relative;
  float: left;
  width: 100%;
  margin-top: -25px;
}

.sink .sortable-chosen {
  display: none;
}